<div class="container contenedor-columnas-id">
    <!--Columnas en bootstrap-->
    <div class="row justify-content-md-center text-center">
        <div class="col col-6">
            <i class="bi bi-dice-1-fill style-bootstrap-icons"></i>
            <h3><b>Glenn y Abraham</b></h3>

            <p class="row justify-content-md-left">
                Negan hizo su entrada triunfal en
                The Walking Dead en la temporada 7,
                como el líder de los llamados "Salvadores". Pero cuando se encuentra con el grupo de
                Rick, éstos quedan a su merced y se mancha las manos de sangre en una
                de las escenas más brutales de la historia: las muertes de Glenn y Abraham.
            </p>
        </div>

        <div class="col col-6">
            <i class="bi bi-dice-2-fill style-bootstrap-icons"></i>
            <h3><b>David</b></h3>

            <p class="row justify-content-md-left">
                Cuando Sasha es capturada durante su ataque al
                Santuario, David, uno de los hombres de Negan, trata de propasarse con ella, pero su líder lo
                descubre y le recuerda que los "Salvadores" no violan, y como escarmiento le clava un cuchillo
                en el cuello.
            </p>
        </div>

        <div class="col col-6">
            <i class="bi bi-dice-3-fill style-bootstrap-icons"></i>
            <h3><b>Spencer Monroe</b></h3>

            <p class="row justify-content-md-left">
                Spencer intentó quitarle el poder a Rick,
                mientras el líder de
                Alexandria buscaba cosas para los "Salvadores". Cuando el joven propuso
                tomar control del lugar y cooperar con Negan,
                este hombre lo apuñaló a mitad de la calle.
            </p>
        </div>

        <div class="col col-6">
            <i class="bi bi-dice-4-fill style-bootstrap-icons"></i>
            <h3><b>Olivia</b></h3>

            <p class="row justify-content-md-left">
                Todo se desencadenó por la muerte de Spencer…
                Rosita le disparó a “Lucille” y
                Negan enfureció, así que le pide a Arat que mate a alguien, pues lo
                que quiere es saciar su sed de venganza. Arat tenía sometida a Rosita,
                pero de repente se incorpora y gira hacia un lado para dispararle a Olivia.
            </p>
        </div>

        <a href="https://de10.com.mx/top-10/10-brutales-crimenes-cometidos-por-negan-en-walking-dead" target="_blank">FUENTE</a>
    </div>
</div>