<div class="text-center">
    <br />
    <h1 class="display-2">Bienvenido</h1>
    <p>Web fandom de <a href="https://es.wikipedia.org/wiki/Negan"><b>@Model?.Nombre</b> (The Walking dead)</a>.</p>

    <img src="~/imgs/avatar-main.jpg" alt="Avatar Negan" id="avatar_main" />

    <br /><br /><br />
    <h2>Kills totales: @Model?.Kills</h2>

</div>