@{
    ViewData["Title"] = "Gracias!";
    Console.WriteLine("Estoy en Thanks.cshtml");
}

<div class="container text-center space_padding">
    <h1>Gracias por comunicarte con nosotros!</h1>
    <p>Nos contacteremos con usted a la brevedad</p>

    <div style="margin-top:480px">
        <button class="btn btn-primary" onclick="location.href = '/Home/Index'">
            Volver al home
        </button>
    </div>
</div>
